body{background: #f3f1ed;}
*{margin: 0;padding: 0;}
li{list-style: none;}
a{text-decoration: none;}
a:hover{text-decoration: none;}
.row{
    line-height: 28px;
    width:1012px;
    height:28px;
    background: blue;
    margin: auto;
}